@charset="utf-8";

body {
    margin: 0;
    padding: 0;
    font-size:16px;
    font-family: 'poppinsregular';
    font-weight: normal;
   font-style: normal;
    overflow-x: hidden;
}
img {
    max-width: 100%
}
a:hover {
    text-decoration: none;
}
a:focus, a:hover {
  color: #fff;
  text-decoration: none;
}
a:focus {
    outline: none;
    outline-offset: 0px;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
.smooth{
  transition: all 300ms ease-in-out 0.0s;
  -o-transition: all 300ms ease-in-out 0.0s;
  -ms-transition: all 300ms ease-in-out 0.0s;
  -moz-transition: all 300ms ease-in-out 0.0s;
  -webkit-transition: all 300ms ease-in-out 0.0s;
}
h1, h2, h3, h4, h5, h6 {
  
  font-style: normal;
  font-weight: normal;
  margin:0 0 0 0;
}
h1{
  font-size: 39px;
  color: #767676;
}
h3{
 
  font-size: 28px;
}
h4{
  font-size: 28px;
  color: #767676;
}
h5{
  font-size: 28px;
  color: #767676;
}

p
{
   font-family: 'pt_sansregular';
  font-weight: normal;
  font-style: normal;
  font-size:16px;
  color:#828282;
}

/*
  ======================
  fonts kit Start Here
  ======================
*/
@font-face {
    font-family: 'courgetteregular';
    src: url('../fonts/courgette-regular-webfont.woff2') format('woff2'),
         url('../fonts/courgette-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/pts55f-webfont.woff2') format('woff2'),
         url('../fonts/pts55f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*
  ======================
  fonts kit Close Here
  ======================
*/
.top_bg .bg-dark {
    background-color: rgba(0, 0, 0, 0.12156862745098039)!important;
}
.top_bg .navbar-collapse {
    flex-grow: unset;
}
.container-fluid-custom {
    max-width: 90%;
    margin: 0 auto;
    width:100%;
}

.top_bg
{
    background: url(../images/top_bg.jpg);
    background-repeat: no-repeat;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 973px;
padding: 28px 0 0 0;
position: relative;
}

.nav_main ul {
    width: 100%;
    display: inline-flex;
    text-align: right;
}
.nav_main ul li a {
    margin: 0 0 0 0;
    color: #ffffff;
    font-family: 'courgetteregular';
    font-weight: normal;
    font-style: normal;
    padding: 10px 35px;
    border: 1px solid transparent;
}
.nav_main ul li a:hover {
    -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  background: #e30300;
}

.dil {
    background: url(../images/dil.png);
    background-repeat: no-repeat;
    height: 439px;
    margin-top: 166px;
    display: table;
}
.marriage_date {
    text-align: center;
    width: 540px;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.marriage_date h3 {
    color: #ffffff;
    font-family: 'courgetteregular';
    font-weight: normal;
    font-style: normal;
    font-size: 37px;
}
.marriage_date h1 {
    color: #ffffff;
    font-family: 'courgetteregular';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
}
.marriage_date h4
{
    color: #ffffff;
    font-family: 'courgetteregular';
    font-weight: normal;
    font-style: normal;
    font-size:30px;
}
/*
  ======================
  About section Start Here
  ======================
*/
.about_content {
    margin: 120px 0 0 0;
}
.about_content h1 {
    color: #303036;
    font-family: 'courgetteregular';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    text-align: center;
    position: relative;
}
.about_content h1:after {
    content: "";
    background: #f00;
    position: absolute;
    left: 0;
    height: 35px;
    width: 73px;
    top: 12px;
     background : url(../images/shape_design_left.png) no-repeat;
}
.about_content h1:before {
    content: "";
    background : url(../images/shape_design_right.png) no-repeat;
    position: absolute;
    right: 0;
    height: 35px;
    width: 73px;
    top: 12px;
}
.about_content p {
    color: #303036;
}
.about_text {
    margin: 95px 0 0 0;
}
.hr_shape {
    text-align: center;
}
/*
  ======================
  About section close Here
  ======================
*/

/*
  ======================
  Our photo gallery start here
  ======================
*/
.galler_content {
    margin: 0 0 40px 0;
}
.galler_outer {
    margin: 150px 0 0 0;
}
.galler_content h1 {
    color: #303036;
    font-family: 'courgetteregular';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 551px;
    margin: 0 auto;
}
.galler_content h1:after {
    content: "";
    position: absolute;
    left: 0;
    height: 35px;
    width: 73px;
    top: 12px;
     background : url(../images/shape_design_left.png) no-repeat;
}
.galler_content h1:before {
    content: "";
    background : url(../images/shape_design_right.png) no-repeat;
    position: absolute;
    right: 0;
    height: 35px;
    width: 73px;
    top: 12px;
}
.gallery_pad_none
{
  padding-right: 0 !important;
  padding-left: 0 !important;   
}
.arrow_shape
{
 position:relative;
}


.arrow_shape:after {
    position: absolute;
    content: "";
     background : url(../images/gallery_top_arrow.png) no-repeat;
    height: 51px;
    width: 305px;
    left: 0;
    right: 0;
    top: -1px;
    margin: 0 auto;
    z-index: 1;
}
.arrow_shape:before {
    position: absolute;
    content: "";
     background : url(../images/gallery_top_bottom.png) no-repeat;
    height: 51px;
    width: 305px;
    left: 0;
    right: 0;
    bottom: -1px;
    margin: 0 auto;
    z-index: 1;
    
}
.ovrly27.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.content-details.fadeIn-top {
    display: none;
}

.ovrly27:hover .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 1;
    display: block;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.content-details h3 {
    color: #ffffff;
    font-size: 26px;
    font-family: 'Gotham';
    font-weight: 500;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
}
.content-details p {
    font-size: 15px;
    color: #ffffff;
    font-family: 'Gotham';
    font-weight: 300;
    font-style: normal;
    text-align: center;
}
.ovrly27 {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: grid;
}
.ovrly27 img {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}
.ovrly27 .ovrly {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: rgba(227, 3, 0, 0.66);
    height: 100%;
    position: absolute;
    width: 100%;
    left: 50%;
    top: -50%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer;
}
.ovrly27:hover .ovrly {
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
}
.content-details.fadeIn-top img {
    width: auto;
}
/*
  ======================
  Our photo gallery close here
  ======================
*/

/*
  ======================
 He Proposed sec start here
  ======================
*/
.proposed {
    margin: 100px 0 0 0;
    position: relative;
}
.proposed_content {
    margin: 0 0 40px 0;
}
.proposed_content h1 {
    color: #303036;
    font-family: 'courgetteregular';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 438px;
    margin: 0 auto 12px;
}
.proposed_content h1:after {
    content: "";
    position: absolute;
    left: 0;
    height: 35px;
    width: 73px;
    top: 12px;
     background : url(../images/shape_design_left.png) no-repeat;
}
.proposed_content h1:before {
    content: "";
    background : url(../images/shape_design_right.png) no-repeat;
    position: absolute;
    right: 0;
    height: 35px;
    width: 73px;
    top: 12px;
}
.proposed:after {
    content: "";
    position: absolute;
    height: 531px;
    width: 361px;
    left: 0;
    top: 160px;
    background : url(../images/couple_character_left.png) no-repeat;
}
.proposed:before {
    content: "";
    position: absolute;
    height: 573px;
    width: 353px;
    right: 0;
    top: 160px;
    background : url(../images/couple_character_right.png) no-repeat;
}
.proposed .dil_cuple 
{
 text-align: center;
}
/*
  ======================
 He Proposed sec close here
  ======================
*/

/*
  ======================
 Best friend sec start here
  ======================
*/

.best_frend
{
    background: url(../images/best_friend.jpg);
    background-repeat: no-repeat;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 796px;
  margin: 50px 0 0 0;
 position: relative;
 padding: 100px 0 0 0;
}
.best_frend h1 {
    color: #ffffff;
    font-family: 'courgetteregular';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    text-align: center;
    margin: 250px 0 0 0;
}
.cuple_pic_three {
    text-align: center;
    margin: 55px 0 0 0;
}
.cuple_pic_three img
{
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.cuple_pic_three img:hover
{
     cursor: pointer;
      -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
     -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
     cursor: pointer;
}

/*
  ======================
 Best friend sec close here
  ======================
*/

/*
  ======================
 Accommodations sec start here
  ======================
*/
.accommodations_sec {
    margin: 150px 0 0 0;
    position: relative;
}
.accommodations_content {
    margin: 0 0 40px 0;
    text-align: center;
}
.accommodations_content h1 {
    color: #303036;
    font-family: 'courgetteregular';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 525px;
    margin: 0 auto 12px;
}
.accommodations_content p
{
   font-family: 'pt_sansregular';
  font-weight: normal;
  font-style: normal;
  font-size:18px;
  color:#303036;
}
.accommodations_content h1:after {
    content: "";
    position: absolute;
    left: 0;
    height: 35px;
    width: 73px;
    top: 12px;
     background : url(../images/shape_design_left.png) no-repeat;
}
.accommodations_content h1:before {
    content: "";
    background : url(../images/shape_design_right.png) no-repeat;
    position: absolute;
    right: 0;
    height: 35px;
    width: 73px;
    top: 12px;
}
.hotel_address_outer {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    text-align: center; 
    padding: 75px 20px 40px 20px;
    margin: 0 auto;
    width: 100%;
}
.hotel_address_outer p {
    font-family: 'pt_sansregular';
    font-weight: normal;
    font-style: normal;
    font-size:20px;
    color: #575757;
    text-align: center;
    margin: 0 0 0 0;
}
.hotel_address_outer h5 {
    color: #303036;
    font-family: 'courgetteregular';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    text-align: center;
    margin: 20px 0 20px 0;
    position: relative;
}
.hotel_icon {
    background: #ffffff;
    height: 115px;
    width: 115px;
    text-align: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    box-shadow: 0px 1px 40px 0px rgba(0, 52, 74, 0.17);
    text-align: center;
    padding: 26px 0 0 0;
    display: inline-block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute;
    top: -11px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.hotel_icon:hover {
    background: #ffffff;
    box-shadow: 0px 1px 40px 0px rgb(189, 66, 71);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
}
.hotel_buliding {
    margin: 55px 0 0 0;
}
.hotel_buliding a.view_btn {
    background: #000000;
    padding: 13px 43px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    color: #ffffff;
    font-family: 'pt_sansregular';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    margin: 20px 0 0 0;
    display: inline-block;
    box-shadow: 0px 1px 40px 0px rgba(0, 52, 74, 0.17);
}
.hottel_buliding a.view_btn:hover {
    background: #e30300;
}
section.accommodations_sec:before {
    position: absolute;
    content: "";
    right: 0;
    height: 663px;
    width: 356px;
    top: 12px;
    background : url(../images/couple_character_acct.png) no-repeat;   
}
/*
  ======================
 Accommodations sec close here
  ======================
*/
footer .form__input {
    color: #919191;
    font-size: 18px;
    height: 62px;
    padding: .375rem 1.75rem;
       -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    border: transparent;
     font-family: 'pt_sansregular';
    font-weight: normal;
   font-style: normal;
}

footer .input_style2 {
    color: #919191;
    font-size: 18px;
    padding: .375rem 1.75rem;
       -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px !important;
    border: transparent;
     font-family: 'pt_sansregular';
    font-weight: normal;
   font-style: normal;
   border: transparent;
       height: auto;
        margin: 27px 0 0 0;
}

.footer_outer_bg
{
  background: url(../images/footer_outer_bg.png);
  background-repeat: no-repeat;
  position: relative;  
  width: 100%;
  padding: 120px 0 120px 0;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      margin: 100px 0 0 0;

}
.footer_outer_bg .contact_form {
    margin: 50px 0 0 0;
    position: relative;
}
.contact_content h1 {
    color: #ffffff;
    font-family: 'courgetteregular';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    text-align: center;
}
.thankyou_content {
    text-align: center;
}
.thankyou_content h1 {
    color: #303036;
    font-family: 'courgetteregular';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    text-align: center;
    margin: 20px 0 20px 0;
}
.contact_content h4 {
    color: #ffffff;
    font-family: 'courgetteregular';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    text-align: center;
}
.contact_content p {
    font-family: 'pt_sansregular';
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    margin: 10px 0 0 0;
}
.contact_content {
    margin-top: 150px;
}
.footer_outer_bg .btn_submit {
    background: #e30300;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
     font-family: 'pt_sansregular';
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    padding: 15px 47px;
    margin: 20px 0 0 0;
    border: 1px solid #ffffff;
}
.footer_outer_bg .btn_submit:hover{
    background: #ffffff;
    border: 1px solid #ffffff;
    color:#303036;
}
.footer_outer_bg .btn_submit:focus{
    background: #ffffff;
    border: 1px solid #ffffff;
    color:#303036;
    box-shadow: none !important;
}
button.btn.btn-primary.btn_submit:active {
    background: #e30300;
   border: 1px solid #ffffff;
}
ul.footer-social li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 60px;
    width: 60px;
    background: #000000;
      -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    padding: 11px 0 0 0;
}
ul.footer-social li a {
    color: #ffffff;
    font-size: 24px;
}

ul.footer-social li:hover {
    background: #c53a33;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
     -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
ul.footer-social {
    margin: 45px 0 auto;
    text-align: center;
        margin-bottom: 45px;
}
ul.footer-social li a i {
    color: #ffffff;
    margin: 7px 0 0 0;
}


.pattern {
    position: absolute;
    z-index: 999;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.marriage_full {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
    top: 0;
    overflow: hidden;
}
.pattern div {
    position: absolute;
    z-index: 9999;
    pointer-events: none;
}